body{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.inner-table {
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    color:  #20304B;
    width: 100%;
}

.outer-elements{
    border: 1px solid #C0C0C0;
}
.first-row{
    background-color: #3D94B3;
    color: white;
}

.leftmost-element{
    width: 86px;
    height: 91px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 0;
}
.rightmost-element{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left:0;
    width: 49px;
    height: 81px;
    cursor: pointer;
}
#tracker-table{
    height: 60%;
    overflow: scroll;
}
.no-borders{
    width: 100%;
}

.tracker-div{
    width: 1087px;
    height: 510px;
}
.tracker-div td{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.glyph-image{
    margin-right: "32px";
}

.routine-heading{
    margin-left: 8px;
}

/* date navigation */
.date-navigation{
    height: 51px;
    background: linear-gradient(0deg, rgba(250, 250, 250, 0) 0%, rgba(0, 0, 0, 0.32) 100%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-date-navigation{
    transform: rotate(-180deg);
    width: 100%;
}
.navigation-image{
    width: 35.09px;
    height: 21.22px;
}
tbody{  
    overflow-y: auto;    
    overflow-x: hidden; 
}
